{% extends 'accounts/layout.html' %}

{% block body %}

<!-- The "action" attribute is used to specify the URL where the form data should be sent for processing. -->

<br>
<div class="row">
    <div class="col-md-10">
        <div class="card card-body">

            <form action="" method="POST">
                {% csrf_token %}

                {{formset.management_force}}

                <!--This is added as we are filling the form as a loop so it helps send the data in a different way otherwise it will show an error. -->

                {% for form in formset %}
                    {{form}}
                    <hr>
                {% endfor %}
                
                <input type="submit" name="Submit">
            </form>

        </div>
    </div>
</div>


{% endblock %}