{% extends 'accounts/layout.html' %}

{% block body %}

<!-- The "action" attribute is used to specify the URL where the form data should be sent for processing. -->

<br>
<div class="row">
    <div class="col-md-10">
        <div class="card card-body">

            <form action="{% url 'update_order' item.id %}" method="POST">
                {% csrf_token %}

                    {{form}}
                
                <input type="submit" name="Submit">
            </form>

        </div>
    </div>
</div>


{% endblock %}